<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  	<groups>
            <run>
              <exclude name = "Basic_setup"></exclude>
              <exclude name = "Vlan_setup"></exclude>
              <exclude name = "Pppoe_setup"></exclude>
              <include name= "Static_setup"></include>
            </run>
        </groups>
    <classes>
      <class name="Eero_Testcases.TestValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
